.active-menu-link, :visited {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.default-menu-link {
    border-bottom: 1px solid transparent;
    color: var(--color-white);
}

.default-menu-link:hover {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

ul {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 20px;
    list-style: none;
    color: white;
}