nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    height: 80px;
    padding: 0 40px;
    background: linear-gradient(37deg, rgba(44,47,57,1) 0%, rgba(0,0,0,1) 8%, rgba(80,83,92,1) 100%);
}

nav img {
    max-width: 100%;
}

.image-wrapper {
    max-width: 300px;
    display: flex;
    flex: 1 1 100px;
}

nav ul {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 20px;
    list-style: none;
    color: white;
}

a, :hover, :visited {
    text-decoration: none;
}