html,
body,
#root {
    height: 100%;
    margin: 0;
}

.app-layout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1;
    overflow-y: auto;
    padding: 0 40px;
    background-color: var(--color-light-grey);
    box-sizing: border-box;
}