.form-wrapper {
    width: 100%;
    max-width: 800px;
    padding-bottom: 20px;
}

.success {
    background-color: var(--color-primary);
    border-radius: 10px;
    padding: 12px;
}

.success a:hover {
    text-decoration: underline;
}

.error {
    background-color: red;
    border-radius: 10px;
    padding: 12px;
    color: var(--color-white)
}